<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>

    <div>
        <%- include('../partials/nav.ejs') %>
    </div>

    <div>
        <p class="homehi">Hi There,I am Amel Cheddani </p>
    </div>

    <div>
        <p class="amel">Building the Future with Code :]</p>
    </div>

    <button class="rounded-button">My Blog</button>
    <img class="img"  src="/assets/img.png">
</body>
</html>